.root {
  :global {
    .header-container {
      background-color: #141921;
      height: 60px;
      display: flex;
       align-items: center;
       padding: 12px;
    }
    .logo-container {
      width: 100px;
      object-fit: contain;
       margin: 0 20px;
       margin-top: 20px;
    }
    .header-options-container{
      color: white;
      display: flex;
       justify-content: space-evenly;
       align-items: center;
    }
    .header__logo{
      width: 100px;
    }
    .cart-container{
      display: flex;
    }
    .header-options{
      margin-right: 10px;
      margin-left: 10px;

    }
  }
}
